/*Especificidad: 001*/
body {
    font-family: Tahoma, sans-serif;
    font-size:15px;
	font-weight:300;
    color: #000000;
    background-color: rgb(250, 238, 210);
    margin: 25px 50px;
    }

/* HEADER */
h1 {
    border-radius:20px;
    color: rgb(0, 0, 0);    
    background-color:#eac5f8; 
    text-transform: uppercase;
    padding: 2em; 
    text-align: center;     
    }

h2{
    color: rgb(0, 0, 0);
    text-align: center;
}
    
nav a{
    display: inline-block;
    color:#000000;
    background: #bde1ff; 
    padding: 10px 30px;
    text-decoration: none;
    }
    
nav a:hover{
    background: #beb7b7;
    }
        
nav{
    background: #7782e4;
    padding: 10px;
    text-align: center;
    }

form{
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #92864f;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
	display:block;
}

ul{
    list-style-type: square;
}

ul li{
    color: rgb(0, 0, 0);
}

ul li ul{
    list-style-type: disc;
}

ul li ul li{
    color: rgb(49, 48, 43);
}

table{
    border: 3px solid #000;
    border-collapse: collapse;
}

table th{
    border: 1px solid #000;
}

table td{
    border: 1px solid #000;
    padding: 5px;
}

aside{
    border-radius:20px;
    background: rgb(248, 201, 179);
    color:rgb(0, 0, 0);
}

address{
    background: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}

address p a{
    color: rgb(179, 226, 248);
}

footer{
    background: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}

section video,
section img,
section audio{
    display: block;
    margin-left: auto;
    margin-right: auto;
}