body h1 {
    border-radius:20px;
    color: rgb(0, 0, 0);    
    background-color:#eac5f8; 
    text-transform: uppercase;
    padding: 2em; 
    text-align: center;     
    }

body {
    font-family: Tahoma, sans-serif;
    color: #000000;
    background-color: rgb(250, 238, 210);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    }

body footer,
body h1,
body nav,
body address{
    grid-column: 1/3;
}

nav a{
    display: inline-block;
    color:#000000;
    background: #bde1ff; 
    padding: 10px 30px;
    text-decoration: none;
    }

 nav a:hover{
    background: #beb7b7;
    }
    
nav{
    background: #7782e4;
    padding: 10px;
    text-align: center;
    }
    
address{
    background: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}
    
address p a{
    color: rgb(179, 226, 248);
}
    
footer{
    background: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}